/* || CSS Variables */

:root {
    --default-background-color: #fdfdfd;
    --default-text-color: #333;
}


/* || General Styles */

body {
    color: var(--default-text-color);
    background: var(--default-background-color);
    font-size: 16px;
}